@model IEnumerable<QL_KhoaHocOnl.Models.LESSON>

    @foreach (var item in Model)
    {
        <div class="aHover">
            <a style="color:black" href="/course/detaillesson/@item.ID_LESSON">
                <p><img style="width:15px; color:gray" src="~/Assets/images/circle-play-regular.svg"/>  Bài @item.SESSION_LESSON: @item.TITLE_LESSON
                </p>
            </a>
        </div>
    }

