<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="widget clearfix">
                    <div class="widget-title">
                        <h3>Về chúng tôi</h3>
                    </div>
                    <p> Chúng tôi luôn cố gắng xây dựng một trang web vượt trội, đầy đủ tính năng, luôn đem tới những trãi nghiệm tuyệt với cho bạn</p>
                    <div class="footer-right">
                        <ul class="footer-links-soi">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-github"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        </ul><!-- end links -->
                    </div>
                </div><!-- end clearfix -->
            </div><!-- end col -->

            <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="widget clearfix">
                    <div class="widget-title">
                        <h3>Thông tin link </h3>
                    </div>
                    <ul class="footer-links">
                        <li><a class="nav-link" href="/home/index">Trang chủ</a></li>
                        <li><a class="nav-link" href="/course/index">Khóa học</a></li>
                        <li><a class="nav-link" href="/teacher/index">Teachers</a></li>
                        <li><a class="nav-link" href="/blog/index">Blog</a></li>
                        <li><a class="nav-link" href="/contact/index">Liên hệ</a></li>
                    </ul><!-- end links -->
                </div><!-- end clearfix -->
            </div><!-- end col -->

            <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="widget clearfix">
                    <div class="widget-title">
                        <h3>Contact Details</h3>
                    </div>

                    <ul class="footer-links">
                        <li><a href="mailto:#">LQBP@trytodown.com</a></li>
                        <li><a href="#">www.LQBP.com</a></li>
                        <li>140 Lê Trọng Tấn, Tân Phú, Hồ Chí Minh</li>
                        <li>0123456789</li>
                    </ul><!-- end links -->
                </div><!-- end clearfix -->
            </div><!-- end col -->

        </div><!-- end row -->
    </div><!-- end container -->
</footer>

<div class="copyrights">
    <div class="container">
        <div class="footer-distributed">
            <div class="footer-center">
                <p class="footer-company-name">Nguyễn Thành Luân - Đinh Viết Quốc - Lê Thanh Bình - La Hoàng Phúc</p>
            </div>
        </div>
    </div><!-- end container -->
</div><!-- end copyrights -->