<header class="top-navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html">
                <img src="~/Assets/images/logo.png" alt="" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-host" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbars-host">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="/home/index">Trang chủ</a></li>
                    <li class="nav-item"><a class="nav-link" href="/course/index">Khóa học</a></li>
                    <li class="nav-item"><a class="nav-link" href="/teacher/index">Teachers</a></li>
                    <li class="nav-item"><a class="nav-link" href="/blog/index">Blog</a></li>
                    <li class="nav-item"><a class="nav-link" href="contact.html">Liên hệ</a></li>
                    <li class="nav-item"><a class="nav-link" href="/Quizz/SelectQuizz">QUIZZE</a></li>
                    <li class="nav-item"><a class="nav-link" href="/Cart/Cart">Giỏ hàng</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item">
                        <form class="d-flex flex-row flex-wrap"
                              action="/course/index">
                            <input type="search"
                                   class="form-control w-auto"
                                   id="search"
                                   name="search"
                                   value="@ViewBag.TB"
                                   placeholder="Search" />
                            <button type="submit" class="btn btn-primary mx-2">Search</button>
                        </form>
                    </li>
                    @if (Request.Cookies["User"] != null)
                    {

                        <li class="nav-item">
                            <a class="nav-link" href="/account/detailuser?id=@Int32.Parse(Request.Cookies["User"]["ID"])">@Session["Fullname"]</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/account/Logout">Đăng xuất</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="/account/login">Đăng nhập</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/account/Register">Đăng ký</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>
