@model IEnumerable<QL_KhoaHocOnl.ViewModel.CartVM>

@{
    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@if (Session["ViewOrder"] == null)
{
    <p style="padding-left:20px;">@ViewBag.NoCart</p>
}
else
{
    <div class="container px-3 my-5 clearfix">
        <!-- Shopping cart table -->
        <div class="card">
            <div class="card-header">
                <h2>KHOÁ HỌC ĐÃ MUA</h2>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered m-0">
                        <thead>
                            <tr>
                                <!-- Set columns width -->
                                <th class="text-center py-3 px-4" style="min-width: 400px;">Tên khoá học &amp; Thông tin</th>
                                <th class="text-center py-3 px-4" style="width: 120px;">Giá gốc</th>
                                <th class="text-center align-middle py-3 px-0" style="width: 40px;"><a href="#" class="shop-tooltip float-none text-light" title="" data-original-title="Clear cart"><i class="ino ion-md-trash"></i></a></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="p-4">
                                        <div class="media align-items-center">
                                            <img src="~/Assets/images/@Html.DisplayFor(modelItem => item.THUMBNAIL)" class="d-block ui-w-40 ui-bordered mr-4 img-cart" alt="">
                                            <div class="media-body">
                                                <a href="#" class="d-block text-dark"> @Html.DisplayFor(modelItem => item.NAME_COURSE)</a>
                                                <small>
                                                    <span class="ui-product-color ui-product-color-sm align-text-bottom" style="background:#e81e2c;"></span> &nbsp;
                                                    <span class="text-muted">Size: </span> EU 37 &nbsp;
                                                    <span class="text-muted">Ships from: </span> China
                                                </small>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-right font-weight-semibold align-middle p-4"> @Html.DisplayFor(modelItem => item.PRICE_COURSE)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}

